@font-face {
    font-family: Fipps;
    src: url("Fipps-Regular.otf") format("opentype");
}
@font-face {
    font-family: AdineKirnberg;
    src: url("AdineKirnberg.ttf") format("opentype");
}

body{
    background-color: rgba(160,100,100,1);
}

#mainCanvas {
    width: 1280;
    height: 720;
}

#canvasDiv {
    width: 100%;
    text-align: center;
}

#loveDiv {
    width:100%;
    text-align: center;

}
#loveText {
    font-family: AdineKirnberg;
    font-size: 80px;
    color: rgba(240,240,240,0);
}
