canvas{
    width: 100%;
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
}
.buttons{
    display:flex;

    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-content: center;
    align-items: center;
}
.weatherButton{
    padding: 1em;
    font-family: Arial;
    transition: background-color, color, 0.4s;
    text-align: center;
    cursor: pointer;
    margin: 0px;

    flex-grow: 1;
}
.weatherButton:hover{
    background-color: rgba(160,160,160,0.5);
    color: white;
}
::-webkit-scrollbar {
    display: none;
}
#buffer{
    width:100px;
    height:100px;
    display: none;
}
